<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="com.surpax.ledflashlight.panel" platformBuildVersionCode="27" platformBuildVersionName="8.1.0">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.any" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT" android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <receiver android:exported="true" android:name="com.appsflyer.MultipleInstallBroadcastReceiver">
        <intent-filter>
            <action android:name="com.android.vending.INSTALL_REFERRER"/>
        </intent-filter>
    </receiver>
    <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:label="@string/app_name" android:name="com.facebook.FacebookActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    <permission android:name="com.surpax.ledflashlight.panel.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.surpax.ledflashlight.panel.permission.C2D_MESSAGE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true" android:xlargeScreens="true"/>
    <permission android:name="com.surpax.ledflashlight.panel.permission.FRAMEWORK_SECURITY" android:protectionLevel="signature"/>
    <uses-permission android:name="com.surpax.ledflashlight.panel.permission.FRAMEWORK_SECURITY"/>
    <permission android:name="com.surpax.ledflashlight.panel.permission.GOLDENEYE_SECURITY" android:protectionLevel="signature"/>
    <uses-permission android:name="com.surpax.ledflashlight.panel.permission.GOLDENEYE_SECURITY"/>
    <meta-data android:name="android.support.VERSION" android:value="25.3.1"/>
    <application android:allowBackup="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:name="com.surpax.ledflashlight.MyApplication" android:supportsRtl="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="af46bdc38bf1267984ed38b9784a45489a5dc2c3"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|touchscreen" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.surpax.ledflashlight.FlashlightActivity" android:screenOrientation="portrait" android:theme="@style/FlashlightActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|touchscreen" android:excludeFromRecents="true" android:label="@string/app_name" android:launchMode="singleTask" android:name="com.surpax.ledflashlight.HoneyCombActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|touchscreen" android:excludeFromRecents="true" android:label="@string/app_name" android:name="com.surpax.ledflashlight.HoneyCombInnerActivity" android:noHistory="true" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|touchscreen" android:excludeFromRecents="true" android:launchMode="singleTask" android:name="com.surpax.ledflashlight.RateAlertActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:excludeFromRecents="true" android:name="com.ihs.chargingalert.ChargingAlertFullScreenActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity=".charging" android:theme="@style/SettingsActivityTheme"/>
        <activity android:label="@string/app_name" android:name="com.surpax.ledflashlight.SettingsActivity" android:theme="@style/SwitchCompatTheme"/>
        <activity android:label="@string/app_name" android:name="com.surpax.ledflashlight.SmartChargingSettingsActivity" android:theme="@style/SwitchCompatTheme"/>
        <activity android:excludeFromRecents="true" android:name="com.acb.call.InCallAppDownloadGuideActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity=".screenflash" android:theme="@style/SettingsActivityTheme"/>
        <receiver android:exported="true" android:icon="@drawable/ic_launcher" android:label="@string/widget_app_name_small" android:name="com.surpax.ledflashlight.PanelWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/panel_provider"/>
        </receiver>
        <receiver android:exported="true" android:name="com.surpax.ledflashlight.StartLightReceiver">
            <intent-filter>
                <action android:name="INTELLECTUAL_START_LIGHT_ACTION"/>
            </intent-filter>
        </receiver>
        <service android:name="com.ihs.clean.service.BoostService" android:process="com.surpax.ledflashlight.panel"/>
        <service android:exported="true" android:label="GuardService" android:name="com.surpax.ledflashlight.PermanentService" android:stopWithTask="false"/>
        <service android:name="com.surpax.ledflashlight.PermanentService$PermanentServiceInner"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.surpax.ledflashlight.PermanentService$PermanentReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="com.surpax.ledflashlight.PermanentReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="package"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:launchMode="singleTop" android:name="com.surpax.promote.AppLockPromoteFullScreenActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <receiver android:name="com.surpax.promote.PackageAddReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_INSTALL"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:icon="@drawable/ic_launcher" android:label="@string/widget_app_name" android:name="com.surpax.ledflashlight.PanelWidgetLarge">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/panel_provider_large"/>
        </receiver>
        <receiver android:exported="true" android:name="com.surpax.ledflashlight.StartLightReceiverLarge">
            <intent-filter>
                <action android:name="INTELLECTUAL_START_LIGHT_LARGE_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.surpax.ledflashlight.RestoreWidgetReceiver">
            <intent-filter>
                <action android:name="com.surpax.action.RESTORE_WIDGET"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.surpax.LockJobService" android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter android:priority="1000">
                <action android:name="com.intellectualflame.ledflashlight.washer.lockscreen.LockJobService"/>
            </intent-filter>
        </service>
        <receiver android:name="com.surpax.receiver.DaemonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.ihs.app.push.impl.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.gcm.intent.RETRY"/>
                <category android:name="com.surpax.ledflashlight.panel"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.ihs.app.alerts.impl.AlertActivity" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tapjoy.TJCOffersWebView"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tapjoy.TapjoyVideoView"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.tapjoy.TJAdUnitView" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tapjoy.mraid.view.ActionHandler"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tapjoy.mraid.view.Browser"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:multiprocess="true" android:name="com.google.android.gms.ads.AdActivity" android:noHistory="true" android:taskAffinity=".acb_ad" android:theme="@android:style/Theme.Translucent"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:hardwareAccelerated="true" android:launchMode="singleTop" android:name="com.acb.chargingad.AcbChargingScreenActivity" android:screenOrientation="portrait" android:taskAffinity=".acb_charging_ad" android:theme="@style/acb_chargingad_charging_screen_transparent_background"/>
        <activity android:excludeFromRecents="true" android:name="com.acb.chargingad.DismissKeyguradActivity" android:screenOrientation="portrait" android:taskAffinity=".acb_charging_ad"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.ihs.chargingreport.ChargingReportActivity" android:screenOrientation="portrait" android:taskAffinity=".charging_report" android:theme="@style/ChargingReportStyle"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.ihs.chargingreport.ChargingReportPlugActivity" android:screenOrientation="portrait" android:taskAffinity=".charging_report" android:theme="@style/ChargingReportStyle"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:name="com.ihs.chargingreport.ChargingReportUnplugActivity" android:screenOrientation="portrait" android:taskAffinity=".charging_report" android:theme="@style/ChargingReportStyle"/>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.ihs.chargingreport.ChargingReportGuideActivity" android:screenOrientation="portrait" android:taskAffinity=".charging_report" android:theme="@style/ChargingReportGuideStyle"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation" android:excludeFromRecents="true" android:name="com.ihs.chargingreport.utils.DismissKeyguardActivity" android:screenOrientation="portrait" android:taskAffinity=".charging_report" android:theme="@style/ChargingReportTransparentTheme"/>
        <receiver android:name="com.ihs.chargingreport.notification.ChargingReportNotificationReceiver"/>
        <receiver android:exported="true" android:name="com.appsflyer.MultipleInstallBroadcastReceiver">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.analytics.AnalyticsService"/>
        <service android:exported="false" android:name="com.ihs.commons.analytics.publisher.HSInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <receiver android:enabled="true" android:name="com.google.android.gms.analytics.AnalyticsReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>
        <activity android:excludeFromRecents="true" android:launchMode="singleInstance" android:name="com.ihs.app.testAlert.TestAlertActivity" android:taskAffinity="" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.tapjoy.TJContentActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:name="com.tapjoy.TJAdUnitActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.framework_session" android:enabled="true" android:exported="false" android:name="com.ihs.app.framework.inner.SessionProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.ihs.app.framework.inner.PendingSessionEndReceiver">
            <intent-filter>
                <action android:name="hs.app.session.PENDING_SESSION_END"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.ihs.commons.config.RemoteConfigReceiver">
            <intent-filter>
                <action android:name="hs.diverse.session.SESSION_START"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.surpax.ledflashlight.panel.framework_remoteconfig" android:enabled="true" android:exported="false" android:name="net.appcloudbox.common.config.RemoteConfigProvider"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.common_session" android:enabled="true" android:exported="false" android:name="net.appcloudbox.common.session.CommonSessionProvider"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.framework_analytics" android:enabled="true" android:exported="false" android:name="net.appcloudbox.common.analytics.AnalyticsProvider"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.framework_appsFlyerEvent" android:enabled="true" android:exported="false" android:name="net.appcloudbox.common.analytics.AppsFlyerEventProvider"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.framework_preference" android:enabled="true" android:exported="false" android:name="net.appcloudbox.common.preference.PreferenceProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="net.appcloudbox.common.session.PendingCommonSessionEndReceiver">
            <intent-filter>
                <action android:name="acb.app.session.PENDING_SESSION_END"/>
            </intent-filter>
        </receiver>
        <activity android:name="net.appcloudbox.ads.base.FullAdActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.acb.adadpater.frequency_cap_provider" android:exported="false" android:name="net.appcloudbox.ads.base.FrequencyCapProvider" android:permission="com.surpax.ledflashlight.panel.permission.GOLDENEYE_SECURITY"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:excludeFromRecents="true" android:icon="@drawable/acb_adadapter_settings" android:label="" android:launchMode="singleTask" android:name="net.appcloudbox.ads.base.QuietInterstial.BackgroundActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity=".acb_interstitial_quiet" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.appcloudbox.ads.interstitialad.NativeInterstitial.AcbNativeInterstitialActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="net.appcloudbox.ads.interstitialad.NativeInterstitial.AcbNativeInterstitalQuietActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity=".acb_interstitial_quiet"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="net.appcloudbox.ads.interstitialad.ExpressInterstitial.AcbExpressInterstitialActivity" android:noHistory="true" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:launchMode="singleTask" android:name="net.appcloudbox.ads.interstitialad.ExpressInterstitial.AcbExpressInterstitalQuietActivity" android:noHistory="true" android:screenOrientation="portrait" android:taskAffinity=".acb_interstitial_quiet"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.acbadconfig" android:name="net.appcloudbox.goldeneye.config.AcbAdConfigProvider" android:permission="com.surpax.ledflashlight.panel.permission.GOLDENEYE_SECURITY"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.acb_ads_common" android:name="net.appcloudbox.ads.common.session.CommonSessionProvider" android:permission="com.surpax.ledflashlight.panel.permission.GOLDENEYE_SECURITY"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MoPubActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.common.MoPubBrowser"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.mopub.mobileads.MraidVideoPlayerActivity"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <provider android:authorities="com.surpax.ledflashlight.panel.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.facebook.ads.AudienceNetworkActivity"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.amazon.device.ads.AdActivity"/>
        <activity android:exported="false" android:name="com.amazon.device.ads.DTBActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="intent" android:scheme="amazonmobile"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
